[submodule "host-application-repo"]
	path = host-application-repo
	url = https://github.com/tzchrzanowski/host-application
[submodule "microfrontend1-repo"]
	path = microfrontend1-repo
	url = https://github.com/tzchrzanowski/microfrontend1
